/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    // -webkit-user-select:none;
    // -webkit-touch-callout:none;
 }

 html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #3a34af;
$main-color: #fff;
$main-red: #c50000;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-color;
    overflow: hidden;
    font: {
        size: 24px;
    }
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.ab-element {
    position: absolute;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.fixed-bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/universal-bg.jpg');
    @include background-size(cover);
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}



// music=======================================================================
#music-control {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;

    width: 58px;
    height: 58px;
    margin: 20px;
}

#music-control-main, .music-control-icon {
    position: absolute;
}

.music-control-icon {
    display: block;
}
// music=======================================================================


// common page start===========================================================
#logo-group {
    top: 44px;
    left: 106px;
    width: 430px;
    height: 466px;
    // background: rgba(255, 0, 0, 0.3);
    // z-index: 10;
}

#slogan {
    visibility: hidden;
}

#logo {
    top: 395px;
    left: 93px;
    visibility: hidden;
}

#scan {
    top: 434px;
    left: 640px;
    // z-index: 10;
}

#arrow-up {
    bottom: 10px;
    visibility: hidden;
    z-index: 10;
}

// common page end=============================================================

// cover start================================================================
#cover-border {
    top: 493px;
    left: 4px;
}

#cover-content1 {
    top: 582px;
    left: 303px;
}

#cover-content2 {
    top: 628px;
    left: 183px;
}

#cover-content3 {
    top: 672px;
    left: 183px;
}

#cover-content4 {
    top: 712px;
    left: 211px;
}

#cover-content5 {
    top: 759px;
    left: 244px;
}

#cover-content6 {
    top: 799px;
    left: 147px;
}

#cover-content7 {
    top: 843px;
    left: 216px;
}
// cover end==================================================================

// page3 start================================================================
#page1-title, #page2-title, #page3-title {
    top: 117px;
    left: 43px;
}

#page1-content, #page2-content, #page3-content {
    top: 248px;
    left: 43px;
}

#page1-des, #page2-des, #page3-des {
    bottom: 36px;
    left: 42px;
}
// page3 end==================================================================

// page4 start================================================================
#page4-content {
    top: 104px;
    left: 66px;
}
#form-dec {
    top: 369px;
    left: 97px;
}

#form-container {
    top: 649px;
    left: 136px;
    width: 372px;
    height: 165px;
    background-image: url('../images/form-bg.png');
}

#apply-btn {
    top: 890px;
    left: 233px;
}

.input-element {
    left: 84px;
    width: 290px;
    height: 48px;
    background: rgba(255, 0, 0, 0);
    border: none;
    color: #0036b2;
    padding: {
        left: 12px;
    }
    line-height: 48px;
}

#city {
    top: 0px;
}

#name {
    top: 60px;
}

#phone {
    top: 120px;
}

// page4 end=================================================================

// page5 start===============================================================
#thanks {
    top: 85px;
    left: 98px;
}

#page5-title {
    top: 269px;
    left: 224px;
}

#page5-logo {
    top: 561px;
    left: 217px;
}

#page5-content {
    top: 360px;
    left: 106px;
}

#page5-des {
    top: 844px;
    left: 136px;
}
// page5 end=================================================================

#cover, #page1, #page2, #page3, #page4, #page5, #share-container {
    visibility: hidden;
}
